.header {
    font-family: monospace;
    color: rgb(253, 251, 245);
    display: flex;
    background-color:rgba(39, 39, 39, 0.377);
    max-height: 50px;
}

.title {
  margin-left: 10px;
  margin-top: 10px;
  flex: 1;
  font-size: 30px;
  font-weight: bolder;
}

/* Account Button */
.account {
  margin-right: 10px;
}

.avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.profile {
  background-color: rgb(40, 40, 43);
  padding-top: 18px;
  border: none;
}

.account {
  position: relative;
  display: inline-block;
}

.account-content {
  display: none;
  background-color: white;
  position: absolute;
  min-width: 140px;
  right: 0;
}

.account-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.account-content:hover a:hover {
  background-color: rgba(39, 39, 39, 0.377);
  transition: background-color 0.5s;
}

.account:hover .account-content {
  display: block;
}

.account:hover .avatar {
  filter: brightness(70%);
  transition: filter 0.5s;
}

body {
  background-color: rgb(40, 40, 43);
  overflow: hidden;
}
.gamespace {
  margin: auto;
  position: relative;
}

#WPM {
  position: absolute;
  font-family: monospace;
  color: whitesmoke;
  font-weight: 300;
  font-size: 30px;
  margin-top: 150px;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  z-index: 5;
  text-shadow: 2px 2px 8px black;
}

#accuracy {
  position: absolute;
  font-family: monospace;
  color: whitesmoke;
  font-weight: 300;
  font-size: 30px;
  margin-top: 150px;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  z-index: 5;
  text-shadow: 2px 2px 8px black;
}

/* Random text */
#words {
  font-family: monospace;
  font-size: 25px;
  color: grey;
  max-width: 800px;
  margin: auto;
  padding-top: 50px;
  margin-top: 100px;
  overflow: hidden;
  text-shadow: 2px 2px 10px black;
}

#inputarea {
  opacity: 0;
}

.hidden {
  opacity: 0;
  transition: opacity 0.2s;
}

#currTime {
  font-family: monospace;
  font-size: 25px;
  font-weight: 600;
  margin-top: 15px;
  color: white;
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100px;
}

#gamepause {
  position: absolute;
  font-family: monospace;
  color: whitesmoke;
  font-weight: 300;
  font-size: 30px;
  margin-top: 150px;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  z-index: 3;
  text-shadow: 2px 2px 8px black;
}

#restartBtn {
  opacity: 0.2;
}

.blur {
  filter: blur(4px);
  transition: filter 0.3s;
}

.incorrect {
  color: red;
  text-decoration: underline;
}

.correct {
  color: white;
}